
miscellaneous code.txt

assert.sh/

.gitignore

.Rhistory

300TestTeaching/data/seqs/B1_S4_L001_R1_001_0.1.fastq.gz

300TestTeaching/data/seqs/B1_S4_L001_R2_001_0.1.fastq.gz

300TestTeaching/data/seqs/B2_S5_L001_R1_001_0.1.fastq.gz

300TestTeaching/data/seqs/B2_S5_L001_R2_001_0.1.fastq.gz

300TestTeaching/data/seqs/B3_S6_L001_R1_001_0.1.fastq.gz

300TestTeaching/data/seqs/B3_S6_L001_R2_001_0.1.fastq.gz

metacoder/*.*

metacoder/cat_campbell_metacoder_excel_parsing_question/*.*

metacoder/Tara_oceans/Database_W5_OTU_occurences.tsv
